.modal {
	background-color: rgba(
		0,
		0,
		0,
		0.5
	); /* Increase the opacity for a darker backdrop */
}

.custom-transition {
	transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
	opacity: 0;
	visibility: hidden;
}

.custom-transition.show {
	opacity: 1;
	visibility: visible;
	border: 1px solid red;
}
