/* change this to be a css module */

:root {
	--text: #101a0f;
	--background: #f9fdf3;
	--primary: #60c351;
	--secondary: #95e18a;
	--accent: #68e156;
}
/* colour pallate added here for easy changing */
body {
	color: var(--text);
}

.sidebar-colour {
	background-color: var(--secondary);
}

.background-colour {
	/* background-color: #f3f9f2; */
	background-color: var(--background);
}

.accent-colour {
	background-color: #68e156;
}

.btn {
	text-align: start;
	background-color: var(--secondary);
	transition: background-color 0.3s;
}

.btn:hover {
	background-color: var(--primary);
}
